* {
    font-size: 30px;
}
body{
    padding: 100px 30px;

}
/*https://www.sioe.cn/yingyong/yanse-rgb-16/   颜色转换工具*/
a {
    color: #0099cc;
}

div {
    border: 1px solid #87CEFA;
    margin: 15px 8px;
    padding: 5px;
    background-color: rgba(135, 206, 250, 0.2);
}
.greyDiv {
    border: 1px solid #dddddd;
    margin: 15px 8px;
    padding: 5px;
    background-color: rgba(221, 221, 221, 0.2);
}

p {
    font-size: xx-large;
}

.greyp {
    color: grey;
}
.smallerp {
    font-size: 20px;

}

.emphasizeTxt{
    color: midnightblue;
}

input{
    display: inline-block;
    height: 80px;
    line-height: 80px;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    padding: 5px;
}

button{
    height: 60px;
    line-height: 60px;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    padding: 5px;
    margin: 12px auto ;
    background-color: lightskyblue;
}