<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <style>
        h4 {
            font-size: x-large;
            color: cornflowerblue;
        }

        p {
            color: seagreen;
        }
    </style>
</head>
<body ng-app="my">
<h4> Scope</h4>
<pre>
Scope(作用域) 是应用在 HTML (视图) 和 JavaScript (控制器)之间的纽带。
Scope 是一个对象，有可用的方法和属性。
Scope 可应用在视图和控制器上。
    说明: scope 是一个js函数，相当于是作用域、控制范围，被用保存ajs modeld的对象，被使用来调用控制器，

</pre>
<div ng-controller="mycontroller">
    <p>{{name}}</p>
</div>
<p ng-controller="mycontroller">
    当在控制器中添加 $scope 对象时，视图 (HTML) 可以获取了这些属性。
    视图中，你不需要添加 $scope 前缀, 只需要添加属性名即可，如： {{name}}。
</p>

<pre>
AngularJS 应用组成如下：

View(视图), 即 HTML。
Model(模型), 当前视图中可用的数据。
Controller(控制器), 即 JavaScript 函数，可以添加或修改属性。
<Strong>scope 是模型</Strong>

scope 是一个 JavaScript 对象，带有属性和方法，这些属性和方法可以在视图和控制器中使用。
</pre>

<div ng-controller="ctrl2">
    <input type="text" ng-model="name2">
    <h6>{{greeting}}</h6>
    <button ng-click="sayHi()">click me</button>
</div>

<h4>作用域</h4>
<p>举个栗子</p>
<ul ng-controller="ctrl3">
    <li ng-repeat="x in list">
        {{x}}
    </li>
</ul>
<h4>根作用域 $rootscope</h4>
作用在ng-app指令包含的所有html元素中
<br>
是各个controller的桥梁，用跟作用域定义的值，可以在各个controller中使用

<br>
<p>举个栗子</p>

<ul ng-controller="ctrl4">家族：{{$root.genName}}
    <li ng-repeat="x in nameList">
        {{x}}
    </li>
</ul>

<p><strong>注：</strong> 子作用域之间无法相互访问</p>
<p>举个栗子</p>
<p>不举了 下个栗子</p>
<div ng-controller="ctrl5">
    <ul>
        <li ng-repeat="x in nameList track by $index "> {{x.name}}.{{$root.genName}} - {{x.country}}
            <button ng-click="deletePerson($index)"> delete</button>
        </li>
    </ul>
    <p>添加： <input type="text" ng-model="name" placeholder="请输入"></p>
    <br>
    <button ng-click="addPerson(name)"> confirm
    </button>
</div>
<br>
<BR>
<HR>
<h4> 过滤器</h4>

<ul ng-controller="ctrl6-filter">
    <li ng-repeat=" x in nameList">{{x.name}} --- {{x.explain}}</li>
</ul>
<p ng-cotroller="ctrl4"> {{$root.genName|lowercase}}</p>

<div ng-controller="ctrl7-filter2">
    <p>数量： <input type="text" ng-model="num"></p>
    <p>价格： <input type="text" ng-model="price"></p>
    <p>总价: {{num*price|currency}}</p>
</div>


<div ng-controller="ctrl5">
    <ul>在指令中添加过滤
        <li ng-repeat="x in nameList|orderBy:'name'">{{x.name+"-"+x.country}}</li>
    </ul>
    <br>
    <p>输入筛选器 <input type="text" ng-model="testFilter"></p>
    <ul>
        <li ng-repeat="x in nameList|filter:testFilter|orderBy:'name'">{{(x.name|uppercase)+"-"+x.country}}</li>
    </ul>
</div>

<p ng-controller="ctrl8-filter3-self">{{text}}自定义反转：{{text|reverse}}</p>

<div ng-controller="ctrl5">
    <p>栗子：</p>
    <p>日期格式化： {{1537167298000|date:"yyyy-MM-dd HH:mm:ss"}}</p>
    <p>保留两位小数： {{3.14152698|number:2}}</p>
    <p>货币格式化： {{3.14152698|currency}}</p>
    <p>货币格式化： {{3.14152698|currency:"RMB ￥"}}</p>
    <p>截取： {{3.14152698|limitTo:3}}</p>
    <!--从后面开始截取-->
    <p>截取： {{3.14152698|limitTo:-3}}</p>
    <ul>
        <!--true  降序排列-->
        <li ng-repeat="x in ageList|orderBy:'age':true">{{x.age+","+x.id}}

        </li>
    </ul>
    <ul style="color: chocolate">
        <!--  -age 也可以  降序排列-->
        <li ng-repeat="x in ageList|orderBy:'-age'">{{x.age+","+x.id}}

        </li>
    </ul>
</div>
<p ng-controller="ctrl9">{{formatDate}}</p>
<div style="height: 50px"></div>

<hr>
<h4>Service </h4>
<li>$location 服务，它可以返回当前页面的 URL 地址</li>
<p><strong>注意：</strong> $location 服务是作为一个参数传递到 controller 中。如果要使用它，需要在 controller 中定义。</p>
<p>举个栗子</p>
<p ng-controller="ctrl-Service10">{{myUrl}}</p>
<p>tips</p>
<pre>
   <Strong>
为什么使用服务?
   </Strong>
在很多服务中，比如 $location 服务，它可以使用 DOM 中存在的对象，类似 window.location 对象，但 window.location 对象在 AngularJS 应用中有一定的局限性。
AngularJS 会一直监控应用，处理事件变化， AngularJS 使用 $location 服务比使用 window.location 对象更好。
</pre>

<li>$http 服务 （服务向服务器发送请求，应用响应服务器传送过来的数据。）</li>
<div ng-controller="ctrl-Service11">
    <p>成功信息：{{successData}}</p>
    <p>失败信息：{{errorData}}</p>

</div>
<div ng-controller="ctrl-Service12">

    <ul>get List:
        <li ng-repeat="x in successData2">{{x.Country}}</li>
    </ul>
    <!--<p>成功信息：{{successData2}}</p>-->
    <!--<p>失败信息：{{errorData2}}</p>-->

</div>
<li>$timeout 服务 访问在规定的毫秒数后执行指定函数</li>
<p ng-controller="ctrl-timeout13">{{hello}}</p>


<li>$interval 访问在指定的周期(以毫秒计)来调用函数或计算表达式</li>
<p ng-controller="ctrl-interval14">nowTime: {{nowtime}}</p>

<li>自定义服务</li>
<br>
使用自定义服务，需要在定义控制器的时候独立添加，设置依赖关系
<p>举个栗子</p>
<p ng-controller="ctrl-self15">255 的16进制是：{{hex}}</p>

<p><strong>注意：</strong>当你创建了自定义服务，并连接到你的应用上后，你可以在控制器，指令，过滤器或其他服务中使用它。</p>

<p>使用自定义过滤器：255-->{{255|myFormat}}</p>
<ul ng-controller="ctrl-self16">
    <li ng-repeat="x in numList">
        {{x | myFormat}}
    </li>

</ul>

<div ng-controller="ctrl-self17">
    <p>姓： <input type="text" ng-model="xing"></p>
    <p>名： <input type="text" ng-model="ming"></p>
    <p>{{xing+" "+ming}}</p>
    <p style="color: lightcoral">{{fullName}}</p>

</div>

<p ng-controller="ctrl-apply14">apply 实现计数：{{nowtime}}</p>

<div style="height: 50px"></div>
<hr>
<h4>Select 选择框 <strong>ng-options </strong></h4>

<div ng-controller="ctrl5">
    <!--ng-init  设置默认选项-->
    <select name="" id="select1" ng-init="selectedName=nameList[0]"
            ng-model="selectedName" ng-options="x.name for x in nameList">
    </select>
    <p> 选中的：{{selectedName.name}}----{{selectedName.country}}</p>


    <br>
    使用ng-repeat
    <select ng-model="selectedOne">
        <option value="{{x.country}}"
                ng-repeat="x in nameList">{{x.name}}
        </option>
    </select>
    <p> ng-repeat 选中的：{{selectedOne.name}}----{{selectedOne.country}}</p>
    <!--这里选中的是value的值-->
    <p>ng-repeat 选中的：{{selectedOne}}</p>
    <p>比较：ng-repeat 指令是通过数组来循环 HTML 代码来创建下拉列表，但 ng-options 指令更适合创建下拉列表，它有以下优势：
        使用 ng-options 的选项是一个对象， ng-repeat 是一个字符串</p>
</div>
<div ng-controller="ctrl18">
    <!--使用对象作为数据源, x 为键(key), y 为值(value):-->
    <select ng-model="selectPerson" ng-options="x for (x,y) in person">

    </select>
    <select ng-model="selectedSite" ng-options="x for (x, y) in sites">
    </select>
    <!--selectPerson 是value-->
    <p> you choosed : {{selectedSite}}</p>
    <!--selectedCar是一个对象-->
    <select ng-model="selectedCar" ng-options="x for (x, y) in carlist">
    </select>
    <!--下拉列表中的选项也可以是对象的属性  init 初始化-->
    <select ng-model="selectedCar2" ng-init="selectedCar2=carlist['car2']"
            ng-options="y.brand for (x, y) in carlist"></select>

    <p style="color: lightcoral"> you choosed : {{selectedCar.brand}}---{{selectedCar.color}}</p>


    <p>给 id 一个别名 y.brand，显示出来的brand值，但实际还是 id 值。</p>

    <select ng-init="selectCarid=carlist['car2'].id" ng-model="selectCarid"
            ng-options="y.id as y.brand for (x,y) in carlist">
    </select>
    <p>
        id:{{selectCarid}}
    </p>


</div>
<div style="height: 50px"></div>
<hr>
<h4>表格 使用 <strong>ng-repeat </strong></h4>
<div ng-controller="ctrl19">

    <table>
        <tr ng-repeat="x in lists">
            <td>{{x.Name}}</td>
            <td>{{x.Country}}</td>
        </tr>
    </table>


</div>
<p>跨域问题未解决</p>

<div style="height: 50px"></div>
<hr>
<h4>DOM <strong> </strong></h4>
<li>使用ng-disable</li>

<div ng-init="myButton=true">
    <!--ng-disabled 指令绑定应用程序数据 myButton 到 HTML 的 disabled 属性。-->
    <p>
        <button ng-disabled="myButton">click button</button>
    </p>
    <!--ng-model 指令绑定 "myButton" 到 HTML input checkbox 元素的内容（value）。-->
    <p><input type="checkbox" ng-model="myButton">disable</p>

    <p>isDisable:{{myButton}}</p>
</div>
<li>
    ng-show 指令根据 value 的值来显示（隐藏）HTML 元素。
    <br>
    ng-hide 与上相反
</li>

<p ng-show="true">visible</p>
<p ng-show="false">invisible</p>


<p ng-hide="true"> hide</p>
<p ng-hide="false"> unhide</p>
<li>ng-click</li>

<div ng-controller="ctrl20">

    <p>
        <button ng-click="toggle()">hide/visible</button>
    </p>
    <div ng-hide="isHide">
        <P>
            <button ng-click="count=count+1">click me!</button>
        </P>
        <p>{{count}}</p>
    </div>
    <div>
        <P>
            <button ng-click="sum()">click me!</button>
        </P>
        <p style="color: darkmagenta">{{count}}</p>
    </div>

</div>
<my-directive></my-directive>
<div runoob-directive></div>
<runobj-directive></runobj-directive>
<div style="height: 50px"></div>
<hr>
<h4>表单 <strong> </strong></h4>
<div ng-controller="ctrl21form">
    <form action="" name="myTestForm">
        name:
        <input type="text" ng-model="user.name" required>
        <span style="color: crimson" ng-show="myTestForm.user.name.$dirty&&myTestForm.user.name.$invalid">
</span>
        <span ng-show="myTestForm.user.name.$error.required">必填项

        </span><br>
        age:
        <input type="text" ng-model="user.age">
        <br>
        E-mail:
        <input type="text" ng-model="user.mail">
        <br>
        isGirl:
        <input type="checkbox" ng-model="var1">
        <br>
        choose one <input type="radio" ng-model="var2" value="dog">Dog
        <input type="radio" ng-model="var2" value="cat">Cat

        <input type="radio" ng-model="var2" value="car">Car
        <br>

        <select name="" id="" ng-model="var2" ng-init="var2='dog'"> select one
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="car">Car</option>

        </select>
        <button ng-click="reset()">reset

        </button>
    </form>
    <p>form:{{user}}</p>
    <p>user2:{{user2}}</p>
    <p ng-show="var1">i am a girl</p>
    <div ng-switch="var2">
        <div ng-switch-when="dog">
            <p style="color: #589585">dog <br> you choosed dog</p>
        </div>
        <div ng-switch-when="cat">
            <p style="color: cornflowerblue">cat <br> you choosed cat</p>
        </div>
        <div ng-switch-when="car">
            <p style="color: darkorchid">car <br> you choosed car</p>
        </div>
    </div>
    <p style="color: crimson"><strong>Tips:</strong></p>
    <li style="color: darkblue">ng-switch 指令根据单选按钮的选择结果显示或隐藏 HTML 区域</li>
    <li>novalidate 属性是在 HTML5 中新增的。禁用了使用浏览器的默认验证。<br>novalidate 属性在应用中不是必须的，但是你需要在 AngularJS 表单中使用，用于重写标准的 HTML5 验证。
    </li>
</div>


<div style="height: 150px"></div>
<script src="js/scope.js"></script>
<script>
    $(function () {
        $.ajax({
            url: 'demolist.json',
            contentType: 'application/json',
            type: 'GET',
            timeout: 5000,
            dataType: 'JSON',
            data: JSON.stringify({schoolId: 123}),
            success: function (res) {

            },
            Error: function (xhr, type, errorThrown) {
                console.log(JSON.stringify(xhr));
                console.log(type);
                console.log(errorThrown);
            }
        });
    })
</script>
</body>
</html>