<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>my test</title>
    <!--引入vue-->
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="../../css/common.css">
    <script src="../../js/jquery-1.12.4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <link rel="stylesheet" href="../css/vuemy.css">
    <!--&lt;!&ndash; 生产环境版本，优化了尺寸和速度 &ndash;&gt;-->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <style>


    </style>
</head>
<body>


<b class="greyp"> *vue 不支持IE8及以下版本，但支持兼容所有ECMA5的浏览器</b>

<p>
    >>使用：1. 创建Vue 实例
    <br> 2. 由其响应式的特点，当对象呗加入到vue的实例后，任何变动都是双向的 可以直接用vm.出来起属性
    <br>注意：
    <br>1.只有在被创建时穿进去的data对象才是响应式的，如果之后新增属性什么的不会触发响应,因此在添加对象的时候最好给这些可能之后会用到的值添加初始值)
    <br>2.另外 <a href="#freeze">obj.freeze()</a>;也会组织vue修改现有的对象，让其无法追踪响应
    <br>3.vue 也暴露实例的属性和方法，以$为前缀与用户定义的属性进行区分 <a href="https://cn.vuejs.org/v2/api/#%E5%AE%9E%E4%BE%8B%E5%B1%9E%E6%80%A7">查看详情api</a>&nbsp;&nbsp;<a
        href="#vueProp">举例</a>
<pre>

    var vm=new Vue({
    传入<a href="https://cn.vuejs.org/v2/api/#%E9%80%89%E9%A1%B9-%E6%95%B0%E6%8D%AE">选项对象</a>
    },
     created: function () {
    //生命周期 created钩子 `this` 指向 vm 实例
    console.log('a is: ' + this.a)
  });
</pre>
<li>>>生命周期</li>
<p>每个 Vue 实例在被创建时都要经过一系列的初始化过程——例如，需要设置数据监听、编译模板、将实例挂载到 DOM 并在数据变化时更新 DOM
    等。同时在这个过程中也会运行一些叫做生命周期钩子的函数，这给了用户在不同阶段添加自己的代码的机会。</p>
<img src="../img/vuelifecycle.png" alt="lifecycle.png" width="1200" height="3039">

<li>>>模板语法</li>
<p>使用mustache语法，（双大括号）</p>
<p>因其响应式特点，双向变动，如果只希望执行一次插值，使用v-once 指令 <a href="#directive_once">sample</a>
</p>
<p>使用模板语法进行插值，双大括号会把数据解释为普通文本，而非html代码，如果需要输出html,需要使用 <span class="emphasizeTxt">v-html指令</span> <a
        href="#directive_html">sample</a>
</p>
<p>Mustache 语法不能作用在 HTML 特性上，遇到这种情况应该使用 v-bind 指令</p>
<li>>>指令</li>
<p>带有v- 前缀的特殊特性</p>
<p>值预期是单个js表达式（except v-for）</p>
<p>职责：当表达式的值改变时，响应式的作用于DOM</p>
<p>参数：在指令名称之后以冒号标识，eg:</p>
<pre>
    &lt;;a v-bind:href="http://www.baidu.com"&gt;click me&lt;/a&gt;
    说明：以上表达式:href是参数， 让v-bind指令将该元素的href属性与其值绑定起来
    &lt;a v-on:click="dosomething"&gt;ye click me again&lt;/a&gt;
    说明：将事件dosomething 与事件click绑定
</pre>
<p>修饰符：以半角句号 . 指明的特殊后缀，用于指出一个指令应该以特殊方式绑定。例如，.prevent 修饰符告诉 v-on 指令对于触发的事件调用 event.preventDefault()</p>
<p>缩写：对常用指令v-bind 和 v-on 提供了简写：</p>
<pre>
    &lt;a v-binf:href="http://www.baidu.com"&gt;baidu &lt;/a&gt;
    简写：
    &lt;a :href="http://www.baidu.com"&gt;baidu &lt;/a&gt;

    &lt;a v-on:click="turnAnywhere"&gt; &lt;/a&gt;
    简写：
    &lt;a @click="turnAnywhere"&gt; &lt;/a&gt;
</pre>

<li>>>class 绑定</li>
<p>·对象语法</p>
<pre>

    &lt;div class="static" v-bind:class="{active:isActive,'text-error':hasError}"&gt; &lt;/div>
    or:
    &lt;div class="static" v-bind:class="classObj"&gt; &lt;/div&gt;
        new Vue(
                data:{
                    classObj:{//here
                        active:true,
                        'text-error':false
                    }
                }
        )

    甚至可以绑定计算属性
      new Vue(
                data:{
                    active:true,
                    'text-error':null
                },
                computed:{
                    classObj:function(){
                         return {
                                active:this.isActive && !this.error,
                                'text-danger': this.error && this.error.type === 'fatal'
                            }
                    }
                 }
        )

    <p class="smallerp greyp">ps:-> v-bind:class与普通class可以共存</p>


</pre>
<p>·数组语法</p>
<pre>
    &lt;div class="static" v-bind:class="[activeClass,errorClass]"&gt; &lt;/div>
    new Vue(
          data:{
              activeClass:'active',
              errorClass:'text-danger'
              }
    )
    上述会被渲染为：
    &lt;div class="active text-danger"&gt; &lt;/div&gt;
    <br>
    ps:数组被可用三元表达式，可用对象语法

</pre>

<p>·在组件上使用</p>
<p>在组件中添加的class 使用后这些类会被添加到跟节点的class里面，不会覆盖已存在的类，共存 <a href="#class_component">sample</a></p>
<li>>>css 绑定</li>
<li>>>条件渲染 v-if</li>
<p class="greyp"><a href="#vif">sample</a></p>
<p>·与v-show 的比较</p>
<div class="greyDiv">
    <p class="smallerp greyp">>v-show:与v-if 用法相同,但v-show 会始终被渲染在DOM中，只是简单的切换css的display属性；而且v-show不支持&lt;template&gt; 元素和v-else</p>
    <p class="smallerp greyp">>v-if 会确保在切换过程中条件块内的事件监听器和子组件适当低被销毁和重建，在渲染的时候，如果出事条件为假，那么就什么也不做，知道条件第一次变为真时，才会开始渲染条件块。相比之下，v-show就简单得多，不管初始条件是什么都会渲染，其后只是简单的基于css进行切换。<br>
        因此v-if会有更高的切换开销，v-show则有更高的初始开销，使用时依条件使用</p>



</div>




<br>

<hr>
<hr>
1.绑定元素：可以绑定到DOM文本、特性、结构
<li>
    插值

</li>
<li>指令的方式
    <br>
    add attr like 'v-bind:title="sometext"'
</li>

<div id="firstVue">
    {{msg}}

</div>


<div id="vue2">
    第二种方式：
    <span v-bind:title="msg2">
    </span>
</div>
<script type="text/javascript">

    var $jq = jQuery.noConflict(true);
    console.log($jq.fn.jquery);


    var firstVue = new Vue({
        el: '#firstVue',
        data: {
            msg: 'hey girl~'
        }
    });
    firstVue.msg = 'i have edit this msg';
    var vue2 = new Vue({
        el: '#vue2',
        data: {
            msg2: '加载时间' + new Date().toLocaleTimeString()
        }
    });
</script>
<br>
2. 显示与隐藏
<p>
    v-if --> true/false
</p>
<div id="app3">
    <p v-if="visible">
        now you have seen me!
    </p>

</div>
<script type="text/javascript">
    var app3 = new Vue({
        el: "#app3",
        data: {
            visible: true
        }
    });
    app3.visible = false;
</script>
<br>
3. 列表循环
<p>
    v-for='item in list'
</p>
<div id="app4">
    <p v-for="item in list">
        {{item.name}}
    </p>

</div>
<script type="text/javascript">
    var app4 = new Vue({
            el: "#app4",
            data: {
                list: [
                    {name: '张三', age: 14},
                    {name: '王小二', age: 15},
                    {name: '陈小四', age: 20}
                ]
            }
        }
        )
    ;
    app4.list.push({name: '胡小五', age: 90});
</script>
<br>
4. 事件监听器 v-on
<p>
    v-on='item in list'
</p>
<div id="app5">
    <p>
        {{name}}
    </p>
    <button v-on:click='reverseMsg'>
        逆转文字
    </button>

</div>
<script type="text/javascript">
    var app5 = new Vue({
            el: "#app5",
            data: {
                name: 'abcdefg'
            },
            method: {
                reverseMsg: function () {
                    this.name = this.name.split('').reverse().join('');

                }

            }
        }
        )
    ;
    // app4.list.push({name: '胡小五', age: 90});
</script>
<br>
5. 组件化 ，类似于自定义元素 与angular1 也有相似之处。 提供跨组件数据流，自定义事件通信，以及构建工具集成
<p>
    1.首先定义一个组件，并在vue中注册 <br>
    2.构建组件模板 <br>
    3.使用 <br>
</p>
<div id="app6">
    <ul>
        <!--3. 使用-->
        <todo-item v-for="item in list" v-bind:todo="item" v-bind:key="item.id">
        </todo-item>
    </ul>
</div>
<script type="text/javascript">
    //    1.首先定义一个组件，并在vue中注册
    Vue.component('todo-item', {
        //props 是一个自定义特性 命名为todo   这样使todo-item这个组件可以接收一个props
        props: ['todo'],
        //2.构建组件模板
        template: '<li>{{todo.name}}</li>'
    });

    var app6 = new Vue({
            el: "#app6",
            data: {
                list: [
                    {id: 1, name: '张三', age: 14},
                    {id: 2, name: '王小二', age: 15},
                    {id: 3, name: '陈小四', age: 20}
                ]
            },
            method: {
                reverseMsg: function () {
                    this.name = this.name.split('').reverse().join('');

                }

            }
        }
        )
    ;
    // app4.list.push({name: '胡小五', age: 90});
</script>

<div id="div0">
    <a href="">a1</a><a href="">a2</a>
    <a href="">a3</a><a href="">a4</a>
    <a href="">a5</a><a href="">a6</a>
    <a href="">a7</a><a href="">a8</a>
</div>

<script>
    $jq(function () {
        $jq("a").on('tap', function () {
            console.log("-----------");
            alert("OK?");
        });
    })

</script>


<div id="freeze">
    <hr>
    <hr>
    <hr>
    <p>{{name}}</p>

    <!-- onclick="changename()-->
    <button v-on:click="name='王五'">
        click to change
    </button>
</div>
<script type="text/javascript">
    var freezeObj = new Object();
    freezeObj.name = "张三";
    //阻断响应
    Object.freeze(freezeObj);

    var vmFreeze = new Vue({
        el: "#freeze",
        data: freezeObj
    });

    console.log("--->obj-" + freezeObj.name);
    console.log("--->vm-" + vmFreeze.name);

    function changename() {
        vmFreeze.name = "王二麻子";
        console.log("--->change obj-" + freezeObj.name);
        console.log("--->change vm-" + vmFreeze.name);
    }

</script>
<!--演示vue的实例属和方法-->
<p>·演示vue的实例属和方法</p>
<div id="vueProp">
    <p>{{title}}</p>
    <input v-model="title" type="text">
</div>
<script type="text/javascript">
    var news = new Object();
    news.title = "今天周五";

    var vmNews = new Vue({
        el: "#vueProp",
        data: news
    });
    console.log("-->data->" + vmNews.$data === news);
    console.log("-->$data->" + JSON.stringify(vmNews.$data));
    console.log("-->equal->" + vmNews.$el === document.getElementById('vueProp'));
    vmNews.$watch('title', function (newValue, oldValue) {
        console.log("-->newValue->" + newValue + "-oldValue-->" + oldValue);


    })
</script>
<p>·演示v-once</p>
<div id="directive_once">
    <span v-once>{{directive_once}} </span>
</div>
<script type="text/javascript">


    var directive_once = new Vue({
            el: "#directive_once",
            data: {
                directive_once: 'hey'
            }
        }
        )
    ;
</script>
<p>·演示v-html</p>
<div id="directive_html">
    <p>use mustache : {{rawHtml}}</p>
    <p>use v-html : <span v-html="rawHtml"></span></p>
</div>
<script type="text/javascript">
    var directive_html = new Vue({
            el: "#directive_html",
            data: function () {
                return {
                    rawHtml: '<span style="color: red">this should be red </span>'
                }
            }
        }
        )
    ;
</script>
<p>·演示计算属性</p>
<div id="directive_compute">
    <p>original data: {{msg}}</p>
    <p>computed data : {{reverseData}}></span></p>

    <p>tips:</p>
    <p>计算属性和方法：可以实现同样的结果，两者区别：
        <br>
        a.计算属性是基于他们的依赖进行缓存的，只有在相关依赖发生改变时才会重新求值，也可以说，只要其依赖的值没有发生改变，那么访问计算属性会
        立即返回之前的计算结果，不会重新执行函数，不是响应式依赖
        <br>
        b.而调用方法，每一次都会执行函数</p>
</div>
<script type="text/javascript">
    var directive_compute = new Vue({
            el: "#directive_compute",
            data: {
                msg: 'Good'
            },
            computed: {//定义为计算属性
                reverseData: function () {
                    return this.msg.split('').reverse().join('');
                }
            },
            method: {
                reverseMsg: function () {//定义为方法
                    this.name = this.msg.split('').reverse().join('');

                }
            }
        }
        )
    ;

    //提供的getter函数
    console.log(directive_compute.reverseData);
</script>


<p>·演示计算属性和侦听属性-使用侦听属性</p>
<div id="directive_watch">
    <p>{{fullName}}</p>
    <input v-model="firstName" type="text">
    <input v-model="lastName" type="text">
</div>
<script type="text/javascript">
    var nameObj = new Object();
    nameObj.firstName = "Jan";
    nameObj.lastName = "Jim";
    nameObj.fullName = "Jan Jim";

    var vmNews = new Vue({
        el: "#directive_watch",
        data: nameObj
    });
    //使用侦听属性
    vmNews.$watch('firstName', function (val) {
        this.fullName = val + " " + this.lastName;
    })
    vmNews.$watch('lastName', function (val) {
        this.fullName = this.firstName + " " + val;
    })
</script>
<p>·演示计算属性和侦听属性2-使用计算属性-只有当依赖属性改变时才会改变</p>
<p class="greyp smallerp">
    演示添加setter 和getter
</p>

<div id="directive_compute_watch">
    <p>{{fullName2}}</p>
    <input v-model="firstName2" type="text">
    <input v-model="lastName2" type="text">
</div>
<script type="text/javascript">
    var nameObj2 = new Object();
    nameObj2.firstName2 = "Jan";
    nameObj2.lastName2 = "Jim";
    var vmnameObj2 = new Vue({
        el: "#directive_compute_watch",
        data: nameObj2,
        computed: {
            fullName2: {
                get: function () {
                    return this.firstName2 + " " + this.lastName2;
                },
                set: function (fullname) {
                    var namelist = fullname.split(' ');
                    this.firstName2 = namelist[0];
                    this.lastName2 = namelist[namelist.length - 1];
                }
            }
        }
    });
    vmnameObj2.firstName2 = 'kate';
    vmnameObj2.lastName2 = 'Amy';
    vmnameObj2.fullName2 = 'Jhon Doe';
</script>
<p>·演示侦听属性</p>
<div id="directive_v_watch">
    <p>you can ask me a question:</p>
    <input v-model="question" type="text">
    <p>{{answer}}</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script type="text/javascript">
    var vmquestion = new Vue({
            el: "#directive_v_watch",
            data: {
                question: '',
                answer: 'I cannot give you an answer until you ask a question'
            },
            watch: {
                //question 变化时 函数运行
                question: function (newVal, oldVal) {
                    this.answer = 'waiting for you to stop typing...';

                }
            },
            method: {
                getAnswer: function () {
                    if (this.question.indexOf('?') === -1) {
                        this.answer = 'your question should contain a question mark(?)';
                        return;
                    } else {
                        this.answer = 'yes';
                    }

                }
            },
            // created: {
            //     // `_.debounce` 是一个通过 Lodash 限制操作频率的函数。
            //     // 在这个例子中，我们希望限制访问 yesno.wtf/api 的频率
            //     // AJAX 请求直到用户输入完毕才会发出。想要了解更多关于
            //     // `_.debounce` 函数 (及其近亲 `_.throttle`) 的知识，
            //     // 请参考：https://lodash.com/docs#debounce
            //     this.debouncedGetAnswer = _.debounce(this.getAnswer, 500);}
        })
    ;
</script>
<p>·演示组件中使用class</p>

<div id="class_component">
    <ul>
        <!--3. 使用-->
        <demo_component v-for="item in list" v-bind:todo="item" v-bind:key="item.id" class="smallerp">
        </demo_component>
    </ul>
</div>
<script type="text/javascript">
    //    1.首先定义一个组件，并在vue中注册
    Vue.component('demo_component', {
        //props 是一个自定义特性 命名为todo   这样使todo-item这个组件可以接收一个props
        props: ['todo'],
        //2.构建组件模板
        template: '<li class="greyp">{{todo.name}}</li>'
    });

    var demoComponent = new Vue({
            el: "#class_component",
            data: {
                list: [
                    {id: 1, name: '张三', age: 14},
                    {id: 2, name: '王小二', age: 15},
                    {id: 3, name: '陈小四', age: 20}
                ]
            }
        }
        )
    ;
</script>
<p>·演示v-if & v-else & v-else-if </p>
<P CLASS="greyp smallerp">使用有顺序，紧跟前一个使用</P>
<div id="vif">
    <!--<p v-if="Math.random() > 0.5">-->
    <p v-if="visible">
        Now you see me
    </p>
    <p v-else>
        Now you don't
    </p>
    <p v-if="type==='A'">
        type A
    </p>
    <p v-else-if="type==='B'">
        TYPE b
    </p>
    <p v-else-if="type==='C'">
        TYPE C
    </p>
    <p v-else>
        TYPE D
    </p>
</div>
<script type="text/javascript">
    var vif = new Vue({
        el: "#vif",
        data: {
            // visible: true
            visible: Math.random() > 0.5,
            type: 'C'
        }
    });
    console.log('-visible->' + vif.visible);
    // vif.visible = false;
    vif.type = 'E';
</script>
<p>·演示v-if -元素的复用 </p>
<div id="vif-key">
    <!--<template> 元素当做不可见的包裹元素，并在上面使用 v-if。最终的渲染结果将不包含 <template> 元素。-->
    <!--不添加key的情况下 input将不会清楚其中的内容，仅仅替换placeholder 复用已有元素，使渲染变快 添加key之后 就是独立的，不会被复用-->
    <template v-if="type==='name'">
        <label>name</label>
        <input type="text" placeholder="please enter your name" >
    </template>
    <template v-else-if="type==='email'">
        <label>email</label>
        <input type="text" placeholder="please enter your email" >
    </template>
    <!--put key here -->
    <template v-else-if="type==='phone'">
        <label>phone</label>
        <input type="text" placeholder="please enter your phone" key="key_phone">
    </template>
    <br>
    <button id="btn">
        click to change
    </button>
</div>
<script type="text/javascript">
    var vifKey = new Vue({
        el: "#vif-key",
        data: {
            type: 'phone'
        }
    });
    console.log('-visible->' + vifKey.type);
    // vif.visible = false;
    // vif.type = 'E';
    $jq('#btn').click(function () {
        switch (vifKey.type) {
            case 'email':
                vifKey.type = 'name';
                break;
            case 'phone':
                vifKey.type = 'email';
                break;
            case 'name':
                vifKey.type = 'phone';
                break;
        }
    })


</script>


</body>
</html>